.App {
  text-align: center;
  color:white;
}

.images{
  height: 200px;
  width:200px;
  margin:10px  auto ;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(11, 223, 223);
  color: black;
  text-align: center;
}
.navi{
  background-color: rgb(11, 223, 223);
}

.form{
  margin-top: 5%;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 5%;
  
}
.form-row{
  background-color: rgb(11, 223, 223);
  padding-top: 5%;
  padding-bottom: 5%;
}
.formSuccess{
  color:rgb(11, 223, 223);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
